/* uni.scss */
@import 'uview-ui/theme.scss';

/* 页面左右间距 */
$page-row-spacing: 30upx;
$page-color-base: #f8f8f8;
$page-color-light: #f8f6fc;
$base-color: #fa436a;
$page-color-white: #fff;

/* 文字尺寸 */
$font-sm: 24upx;
$font-base: 28upx;
$font-lg: 32upx;
/*文字颜色*/
$font-color-white: #ffffff;
$font-color-dark: #303133;
$font-color-base: #606266;
$font-color-light: #909399;
$font-color-disabled: #C0C4CC;
$font-color-spec: #4399fc;
$font-color-blue: #0081ff;
/* 边框颜色 */
$border-color-dark: #DCDFE6;
$border-color-base: #E4E7ED;
$border-color-light: #EBEEF5;
/* 图片加载中颜色 */
$image-bg-color: #eee;
/* 行为相关颜色 */
$uni-color-primary:#fa436a;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;



/* 字体颜色/背景颜色值设置（main:主色 / auxiliary:辅助色） */
$unify-color-main-theme:#44BB56;//主题色
$unify-color-auxiliary-theme:#CCFFCC;//辅助主题色
$unify-color-main-red:#FF5432;//红色
$unify-color-auxiliary-red:#FFA07A;//辅助红色
$unify-color-main-orange:#FF7F00;//橙色
$unify-color-auxiliary-orange:#EECFA1;//辅助橙色
$unify-color-main-yellow:#FABC43;//黄色
$unify-color-auxiliary-yellow:#FFFFE0;//辅助黄色
$unify-color-main-green:#44BB56;//绿色
$unify-color-auxiliary-green:#CCFFCC;//辅助绿色
$unify-color-main-cyan:#23DDF8;//青色
$unify-color-auxiliary-cyan:#E0FFFF;//辅助青色
$unify-color-main-blue:#3A86FB;//蓝色
$unify-color-auxiliary-blue:#B0E2FF;//辅助蓝色
$unify-color-main-purple:#8D2BFA;//紫色
$unify-color-auxiliary-purple:#EED2EE;//辅助紫色
/* 文字/背景（黑色=>白色）颜色层次 */
$unify-color-black:#333333;//黑色（一级文字/正文/主标题）
$unify-color-dark:#666666;//黑灰色（二级文字/副标/内容）
$unify-color-gray:#999999;//灰色（三级文字/补充描述）
$unify-color-silver:#F1F1F1;//银色
$unify-color-white:#FFFFFF;//白色
/* 其它颜色配置 */
$unify-light-hover:#F8F8F8;//点击状态颜色
$unify-light-divider:#F1F1F1;//分割线颜色
$unify-light-page:#F8F8F8;//页面背景颜色
/* 文字尺寸 */
$unify-text-xs:24rpx;
$unify-text-sm:28rpx;
$unify-text-md:32rpx;
$unify-text-lg:36rpx;
$unify-text-xl:40rpx;
/* 内外边距 */
$unify-distance-xs:8rpx;
$unify-distance-sm:16rpx;
$unify-distance-md:24rpx;
$unify-distance-lg:32rpx;
$unify-distance-xl:40rpx;
/* 圆角尺寸 */
$unify-radius-xs:8rpx;
$unify-radius-sm:12rpx;
$unify-radius-md:16rpx;
$unify-radius-lg:50rpx;
$unify-radius-xl:100rpx;
/* 头像尺寸 */
$unify-image-xs:40rpx;
$unify-image-sm:80rpx;
$unify-image-md:120rpx;
$unify-image-lg:160rpx;
$unify-image-xl:200rpx;






/* 主题色配置 */
$unify-color-theme:#FF7F00;//主题色
$unify-color-theme-help:#EECFA1;//辅助主题色
/* 字体颜色/背景颜色配置 */
$unify-color-red:#FF5432;//红色
$unify-color-red-help:#FFA07A;//辅助红色
$unify-color-orange:#FF7F00;//橙色
$unify-color-orange-help:#EECFA1;//辅助橙色
$unify-color-yellow:#FABC43;//黄色
$unify-color-yellow-help:#FFFFE0;//辅助黄色
$unify-color-green:#44BB56;//绿色
$unify-color-green-help:#CCFFCC;//辅助绿色
$unify-color-cyan:#23DDF8;//青色
$unify-color-cyan-help:#E0FFFF;//辅助青色
$unify-color-blue:#3A86FB;//蓝色
$unify-color-blue-help:#B0E2FF;//辅助蓝色
$unify-color-purple:#8D2BFA;//紫色
$unify-color-purple-help:#EED2EE;//辅助紫色
$unify-color-black:#000000;//黑色
$unify-color-black-help:#333333;//辅助黑色
$unify-color-gray:#666666;//灰色
$unify-color-gray-help:#999999;//辅助灰色
$unify-color-white:#FFFFFF;//白色
$unify-color-white-help:#DEDEDE;//辅助白色
/* 文字颜色 */
$unify-color-main:#333333; //一级文字/正文/主标题
$unify-color-often:#666666;//二级文字/副标/常规内容
$unify-color-help:#999999;//三级文字/补充描述/辅助内容
$unify-color-fill:#CDCDCD;//四级文字/占位内容
/* 其他颜色配置 */
$unify-color-page:#F8F8F8; //vue页面背景色/nvue页面背色在pages.json页面globalStyle》backgroundColor
$unify-color-divider:#EBEEF5;//分割线颜色
$unify-color-hover:#F1F1F1;//点击状态颜色


/* 文字尺寸 */
$unify-text-xs:20rpx;
$unify-text-sm:24rpx;
$unify-text-md:28rpx;
$unify-text-lg:32rpx;
$unify-text-xl:48rpx;
$unify-text-xxl:64rpx;
/* 内外边距 */
$unify-distance-xs:8rpx;
$unify-distance-sm:16rpx;
$unify-distance-md:24rpx;
$unify-distance-lg:32rpx;
$unify-distance-xl:40rpx;
$unify-distance-xxl:56rpx;
/* 圆角尺寸 */
$unify-radius-xs:8rpx;
$unify-radius-sm:12rpx;
$unify-radius-md:16rpx;
$unify-radius-lg:20rpx;
$unify-radius-xl:100rpx;
$unify-radius-xxl:200rpx;